.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider {
  padding-top: 20px;
}

.email-list {
  height: 100vh;
  display: flex;
}

.email-list h4,
.email-list .ant-typography.ant-typography-ellipsis,
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  padding: 0;
  margin: 0;
}

.email-preview {
  padding: 20px 20px 20px 30px;
  text-align: left;
  font-weight: normal;
  width: 30vw;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.email-preview.email-unread:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 25px;
  left: 10px;
  border-radius: 100%;
  background: #1890ff;
}

.email-preview:hover {
  cursor: pointer;
  background: #e1e1e1;
}

.ant-tabs-tab-active {
  background: #f5fcff;
}

.ant-tabs .ant-tabs-left-content {
  padding: 0;
  background: #fff;
  height: 100vh;
  width: 100%;
  min-width: 400px;
  overflow: auto;
}

.content {
  padding: 20px;
}

.content .ant-btn {
  margin-right: 10px;
}

.ant-empty {
  font-size: 0;
}

.ant-empty .ant-empty-image {
  height: 100vh;
  margin: 0;
}